* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app-container {
  margin-top: 30px;
}

.app-header {
  padding: 10px;
}

.app-content {
  padding: 10px 20px;
  margin: 10px 0px 50px;
  min-height: calc(100vh - 200px);
  background-color: rgb(234, 247, 255) !important;
}
